.career-template{
    position: relative;
    .leaves-brands{
        position: absolute;
        right: 0;
        top: -5%;
    }
    .breadcrumbs{
        margin-bottom: 30px;
    }
    .career__content{
        h3{
            color: #623b29;
            font-size: 28px;
            font-family: FiraSans-Bold;
            margin-bottom: 16px;
        }

        &__div{
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            p{
                max-width: 450px;
                line-height: 26px;
            }
            a{
                color: #e9501b;
                position: relative;
                &:hover{
                    color: #623b29;
                }
                &:hover{
                   &::after{
                       background: #623b29;
                   }
                }
                &:after {
                    content: '';
                    position: absolute;
                    bottom: -9px;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background: #e9501b;
                    cursor: pointer;
                }
            }
        }
    }
    .career_posts_data{
        margin-bottom: 30px;
        background: #fafaf6;
        padding: 40px 30px;

    }
    &__contact{
        background: #fafaf6;
        margin-top: 40px;
        padding: 50px 0 100px;
        position: relative;
        .ctr{
            display: flex;
        }
        h3{
            font-size: 24px;
            color: #623b29;
        }
        p{
            color: #8a8a8a;
            margin: 10px 0 26px;
            line-height: 24px;
        }
        .col-md-6-padding{
            padding-right: 0!important;
            padding-left: 0!important;
        }
        .career-img-bg{
            position: absolute;
            right: 0;
            top: -5%;
        }
        .rosemar{
            position: absolute;
            left: 0;
            bottom: 5%;
        }
    }
    .wpcf7-form-control-wrap{
        background: transparent!important;
    }
}

.single-career-template{
    position: relative;
    .leaves-brands{
        position: absolute;
        right: 0;
        top: -20%;
    }
    .single-career{
        background: #fafaf6;
        padding: 40px 25px 20px;
        margin: 36px 0 50px;
        h3{
            color: #623b29;
            font-size: 28px;
            line-height: 32px;
            font-family: FiraSans-Bold;
            margin-bottom: 32px;
        }
        h4{
            color: #623b29;
            font-size: 18px;
            font-family: FiraSans-Bold;
            margin-bottom: 12px;
        }
        ul{
            padding-inline-start: 0px;
            li{
                margin-bottom: 28px;
                color: #333333;
                &::before{
                    content: url("img/check.svg");
                    margin-right: 10px;
                }
            }
        }
        &__benefits{
            background: #623b29;
            height: 280px;
            display: flex;
            align-items: center;
            position: relative;
            .leaves-brands{
                left: 0;
                top: -20%;
            }
            h3{
                text-align: center;
                font-family: FiraSans-Bold;
                font-size: 24px;
                color: #fff;
                margin-bottom: 45px;
            }
            .heading-with-icon{
                text-align: center;
                color: #fff;
                padding-bottom: 50px;
            }
            .benefits_content{
                display: flex;
                justify-content: space-between;
                align-items: center;
                &__div{
                    display: flex;
                    flex-direction: column;
                    max-width: 146px;
                    text-align: center;
                    p{
                        height: 38px;
                        color: #fff;
                        margin-top: 15px;
                        line-height: 26px;
                    }
                }
            }
            .container{
                width: 100%;
            }
        }
        &__send-cv{
            background: #fafaf6;
            padding: 50px 0;
            position: relative;
            .career-img-bg{
                position: absolute;
                right: 0;
                top: -8%;
            }
            h3{
                font-family: FiraSans-Bold;
                font-size: 24px;
                color: #623b29;
                margin-bottom: 10px;
            }
            p{
                color: #8a8a8a;
                line-height: 24px;
                a{
                    color: #e9501b;
                }

            }
            h5{
                font-size: 16px;
                color: #623b29;
                margin: 16px 0 5px;
            }
            .contact-form{
                width: 75%;
                 .wpcf7-form-control-wrap {
                     background: transparent;
                 }

            }
        }
    }
    .other_posts{
        padding: 73px 0 50px;
        h2{
            font-size: 36px;
            font-family: FiraSans-Bold;
            color: #623b29;
            margin-bottom: 40px;
        }
        .btn{
            width: 190px;
        }
    }
}