.homepage-secret{
    height: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafaf6;
    position: relative;
    h2{
        color: #613a29;
        font-size: 32px;
        font-family: FiraSans-Bold;
        text-align: center;
        margin-bottom: 55px;
    }
    .secret_div{
        text-align: center;
        p{
            max-width: 210px;
            font-family: FiraSans-Medium;
            margin: 16px auto 0;
        }
    }
    .container{
        .row{
            width: 1156px;
            justify-content: space-between;
        }
    }
    .leaf-homepage-top{
        position: absolute;
        bottom: -20%;
        right: 5%;
    }
}
